~*
*.swp
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
**/wp-config.php
**/wp-content/backup-db/
**/wp-content/backups/
**/wp-content/blogs.dir/
**/wp-content/cache/
**/wp-content/upgrade/
**/wp-content/uploads/*
/assets/.sass-cache/*
wp-content/themes/**/.sass-cache/*
wp-content/themes/**/build/*
wp-content/themes/**/dev/tmp
wp-content/themes/**/*.log
wp-content/themes/**/*.html
!.gitkeep
**/node_modules/
**/dev/css/*.map
**/dev/js/*.map
**/dev/css/*.css
**/wp-content/plugins/siteguard/really-simple-captcha/tmp/
**/.idea/*
